project_id              = "my-production-project"
tenant_service_account  = "tenant-acme-prod@tg-shard-N.iam.gserviceaccount.com"
tenant_topic            = "projects/tg-hub-N/topics/tenant-acme-prod-alerts"
